{%- extends "base.html" %}
{% set active_page = "cars" %}

{% import "bootstrap/utils.html" as utils %}
{% block content %}
<div class="container" style="padding: 10px;">
  <div class="jumbotron">
    <h1>Congratulations Racers!</h1>
  </div>
  <br/>
  <div id="toolbar"></div>
  <div class="container" style="overflow: auto;">
    <table
            id="table"
            data-toggle="false"
            data-toolbar="#toolbar"
            data-search="false"
            data-show-columns="true"
            data-pagination="false"
            data-striped="true">
    </table>
  </div>
</div>

  <script type='text/javascript'>
  $(function() {
    $('#table').bootstrapTable({
          data: {{data|tojson}},
          columns: {{columns|tojson}},
        });
  })

  </script>
{%- endblock %}
