{# This simple template derives from ``base.html``. See ``base.html`` for
more information about template inheritance. #}
{%- extends "publicBase.html" %}

{% set active_page = "index" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
utils module here to automatically render Flask's flashed messages in a
bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
This will keep scripts at the page end and a navbar you add on later
intact. #}
{% block content %}

<h1>Current Heat</h1>
<div class="container">
    <table class="table table-striped" id="tableHeat"
           data-toggle="true"
           data-toolbar="#toolbar"
           data-search="false"
           data-show-columns="false"
           data-pagination="false"
           data-sortable="false"
           data-striped="true"
           data-url={{ url_for('get_currentHeat') }}>
    </table>
</div>

<h1>Schedule</h1>
<div class="container">
    <table class="table table-striped" id="tableSchedule"
           data-toggle="true"
           data-toolbar="#toolbar"
           data-search="false"
           data-show-columns="false"
           data-pagination="false"
           data-sortable="false"
           data-striped="true"
           data-url={{ url_for('get_schedule') }}>
    </table>
</div>

<h1>Cars</h1>
<div class="container">
    <table class="table table-striped" id="tableCars"
           data-toggle="true"
           data-toolbar="#toolbar"
           data-search="false"
           data-show-columns="false"
           data-pagination="false"
           data-sortable="false"
           data-striped="true"
           data-url={{ url_for('get_cars') }}>
    </table>
</div>

<script type='text/javascript'>
  $(function() {
    $('#tableSchedule').bootstrapTable({
          columns: {{columnsSchedule|tojson}},
  });
  })
  $(function() {
    $('#tableHeat').bootstrapTable({
          columns: {{columnsCurrentHeat|tojson}},
  });
  })

  $(function() {
    $('#tableCars').bootstrapTable({
          columns: {{columnsCars|tojson}},
  });
  })

    $(function(){

        var counter = 0;
        var refreshEveryNumSecs = 20
        var looper = setInterval(function(){
            counter++;
            console.log("Counter is: " + counter);
            $('#tableSchedule').bootstrapTable('refresh', {silent: true});
            $('#tableCars').bootstrapTable('refresh', {silent: true});
            $('#tableHeat').bootstrapTable('refresh', {silent: true});
            if (counter >= 45 * 60/refreshEveryNumSecs)
            {
                clearInterval(looper);
                $('.table tr th').text('Please Reload Page')
            }

        }, refreshEveryNumSecs * 1000);
    })


  </script>


{%- endblock %}