{%- extends "base.html" %}

{% block navbar %}

{% set navigation_bar = [
('/', 'index', 'Home'),
] -%}
{% set active_page = active_page|default('index') -%}


<nav class="navbar navbar-default" style="background-color: #ffCC00;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="https://www.mercerislandcubscouts.org/">Pack 668:</a>
        </div>
        <ul class="nav navbar-nav">

            {% for href, id, caption in navigation_bar %}
            <li{% if id == active_page %} class="active"{% endif
            %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
            {% endfor %}
        </ul>
    </div>
</nav>
{%- endblock navbar %}